body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

a:link,
a:visited {
color: #006ec3;
}

p {
  line-height: 1.45em;
}

/* General Layout */
div.container {
  max-width: 920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

article.post {
  border-bottom: 2px dotted #bbb;
}

article.post:last-of-type {
  border-bottom: none;
}

/* Site Header */
.site-header {
  border-bottom: 2px solid #999;
}

/* Site Footer */
.site-footer {
  margin-top: 30px;
  border-top: 2px solid #999;

  p {
    padding: 0;
    margin: 10px 0  0 0;
  }
}

/** Navigation Menus */
.site-nav {
  ul {
    margin: 0;
    padding: 0;
  }
  ul:before,
  ul:after {
    content: "";
    display: table;
  }
  ul::after {
    clear: both;
  }
  ul li {
    list-style: none;
    float: left;
  }
}

/* Header Menu */
.site-header nav ul {

  li {
    margin-right: 5px;   
  }
  a:link,
  a:visited {
    display: block;
    padding: 10px 18px;
    // border: 1px solid #bbb;
    border-bottom: none;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    background-color: #ececec;
  }
  li.current-menu-item a:link,
  li.current-menu-item a:visited,
  li.current-page-ancestor a:link,
  li.current-page-ancestor a:visited {
    font-weight: 500;
    background-color: #006ec3;
    color: #fff;
  }
}

/* Footer Menu */
.site-footer nav ul {
  li {
    margin-right: 10px;
    margin-top: 20px;
    padding-right: 10px;
    border-right: 1px dotted #bbb;
  }
  li:last-child {
    border-right: none;
  }
}

/* Page Layout */
article.page h2 {
  font-size: 2em;
  font-weight: normal;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 500;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* Two-Column Title Layout */
div.title-column {
  width: 30%;
  float: left;
}
div.content-column {
  width: 70%;
  float: right;
}

/* Info box */
.info-box {
  width: 30%;
  float: right;
  margin: 0 0 30px 30px;
  padding: 20px;
  background-color: #eee;

  h4 {
    margin-bottom: 6px;
    border-bottom: 1px dashed #666;
    padding-bottom: 8px;
  }
  p {
    font-size: 85%;
  }
}

/* Children Links */
.children-links {
  margin-bottom: 20px;
  font-size: 80%;

  a:link,
  a:visited {
    text-decoration: none;
  }

  ul {
    float: left;
  }

  li {
    margin-right: 20px;
    margin-top: 20px;
  }
  .parent-link {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #006ec3;
    font-size: 120%;
    font-weight: bold;
    border-radius: 20px;
    background-color: #fff;
  }
  .parent-link a:link,
  .parent-link a:visited {
    color: #333;
  }
  .current_page_item a:link,
  .current_page_item a:visited {
    border-bottom: 3px solid #006ec3;
    color: #333;
    font-weight: normal;
    cursor: default;
    padding-bottom: 5px;
  
  }
}

/* Post Styles */
.post {

  h2 {
    margin-bottom: 5px;
  }
  p.post-info {
    font-size: 87%;
    color: #999;
    margin-top: 0;

    a:link,
    a:visited {
      color: #999;
    }
  }

}