body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

a:link,
a:visited {
  color: #006ec3;
}

p {
  line-height: 1.45em;
}

/* General Layout */
div.container {
  max-width: 920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

article.post {
  border-bottom: 2px dotted #bbb;
}

article.post:last-of-type {
  border-bottom: none;
}

/* Aside Post Format Styles */
.post-aside,
.post-link {
  font-size: 125%;
  font-weight: 300;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.post-aside p,
.post-link p {
  margin: 5px 0;
}
.post-aside .mini-meta,
.post-link .mini-meta {
  font-size: 68%;
  margin: 0;
  color: #777;
  font-weight: normal;
  font-style: italic;
}

.post-aside {
  background-color: #FFF5CB;
}

/* Link Post Format Styles */
.post-link {
  padding: 0;
  background-color: #E0EBFF;
}
.post-link a {
  display: block;
  padding: 20px;
}

/* Link Post Format Gallery */
.post-gallery {
  background-color: #222;
  color: #fff;
  padding: 20px;
}
.post-gallery img {
  border: none !important;
  border: 1px dashed #fff !important;
}
.post-gallery h2 {
  text-align: center;
  font-weight: 200;
}

/* Site Header */
.site-header {
  border-bottom: 2px solid #999;
}

/* Site Footer */
.site-footer {
  margin-top: 30px;
  border-top: 2px solid #999;
}
.site-footer p {
  padding: 0;
  margin: 10px 0  0 0;
}

/** Image Styles */
img {
  max-width: 100%;
  height: auto;
}

/** Navigation Menus */
.site-nav ul {
  margin: 0;
  padding: 0;
}
.site-nav ul:before,
.site-nav ul:after {
  content: "";
  display: table;
}
.site-nav ul::after {
  clear: both;
}
.site-nav ul li {
  list-style: none;
  float: left;
}

/* Header Menu */
.site-header nav ul li {
  margin-right: 5px;
}
.site-header nav ul a:link,
.site-header nav ul a:visited {
  display: block;
  padding: 10px 18px;
  border-bottom: none;
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s ease-in-out;
}
.site-header nav ul a:hover {
  background-color: #ececec;
}
.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
  font-weight: 500;
  background-color: #006ec3;
  color: #fff;
}

/* Main Column */
.main-column {
  width: 66%;
  float: left;
}

/* Side Column */
.secondary-column {
  width: 33%;
  float: right;
}

/* Footer Widget Area */
.footer-widget-area {
  width: 25%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}

/* Footer Menu */
.site-footer nav ul li {
  margin-right: 10px;
  margin-top: 20px;
  padding-right: 10px;
  border-right: 1px dotted #bbb;
}
.site-footer nav ul li:last-child {
  border-right: none;
}

/* Page Layout */
article.page h2 {
  font-size: 2em;
  font-weight: normal;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 500;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Two-Column Title Layout */
div.title-column {
  width: 30%;
  float: left;
}

div.content-column {
  width: 70%;
  float: right;
}

/* Info box */
.info-box {
  width: 30%;
  float: right;
  margin: 0 0 30px 30px;
  padding: 20px;
  background-color: #eee;
}
.info-box h4 {
  margin-bottom: 6px;
  border-bottom: 1px dashed #666;
  padding-bottom: 8px;
}
.info-box p {
  font-size: 85%;
}

/* Children Links */
.children-links {
  margin-bottom: 20px;
  font-size: 80%;
}
.children-links a:link,
.children-links a:visited {
  text-decoration: none;
}
.children-links ul {
  float: left;
}
.children-links li {
  margin-right: 20px;
  margin-top: 20px;
}
.children-links .parent-link {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #006ec3;
  font-size: 120%;
  font-weight: bold;
  border-radius: 20px;
  background-color: #fff;
}
.children-links .parent-link a:link,
.children-links .parent-link a:visited {
  color: #333;
}
.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
  border-bottom: 3px solid #006ec3;
  color: #333;
  font-weight: normal;
  cursor: default;
  padding-bottom: 5px;
}

/* Post Styles */
.post h2 {
  margin-bottom: 5px;
}
.post p.post-info {
  font-size: 87%;
  color: #999;
  margin-top: 0;
}
.post p.post-info a:link,
.post p.post-info a:visited {
  color: #999;
}

/* Thumbnail */
.has-thumbnail {
  position: relative;
  padding-left: 200px;
}
.has-thumbnail .post-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

/* Search Form & Results */
.hd-search {
  float: right;
}
.hd-search label {
  position: absolute;
  top: 0;
  left: -9999px;
}
.hd-search #searchsubmit {
  background-color: #006ec3;
  color: #fff;
  padding: 7px 14px;
  border: none;
  vertical-align: top;
}
.hd-search #s {
  vertical-align: top;
  padding: 6px;
  margin-right: -5px;
  border: 1px solid #999;
}
.hd-search #s:focus {
  -webkit-outline: none;
  -moz-outline: none;
  outline: none;
}
